<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>-->
<!--    <script type="text/javascript" src="http://mes.themomos.co.kr/include/w2ui/w2ui-1.5.rc1.js"></script>-->
<!--    &lt;!&ndash; <script src="./PageManager.js"></script> &ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript" src="/include/js/navTree.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript" src="/include/js/common.js"></script>&ndash;&gt;-->
<!--    <script src="test.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<input type="button" value="메시지2" id = "btn"  name="btn_nm" onclick= on_btn_popup(); />-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="ko">
<head>
    <title>팝업창열기</title>
        <script src="test.js"></script>

</head>
<body>
<input type="button" value="자식을 불러라"  onclick="nwindow()"/>
<input type="text" value="뭘주려나..."  id="get"/>
</body>
</html>

